.thread-list-wrapper {
  background-color: #ebeced;
  //padding: 20px;
  .empty-list {
    padding: 20px;
  }
}

.modal {
  display: flex;
  flex-direction: column;

  .form-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    label {
      width: 70px;
    }
    textarea {
      border: 2px solid grey;
      padding: 10px;
      border-radius: 4px;
      margin-left: 5px;
    }
  }
}